*.jks
*.key
*.mobileprovision
*.p12
*.p8
.DS_Store
.expo
.npmignore
.vscode
package-lock.json
yarn.lock
yarn-error.log
npm-debug.log*
yarn-debug.log*
build/
web-build/
sshack2020.xcworkspace
Podfile.lock
node_modules
